:root {
    // Cloned default hex values from base/css_variables to be used in the system console
    --icon-opacity: 0.64;
    --icon-opacity-hover: 0.8;
    --sys-away-indicator: #ffbc1f;
    --sys-away-indicator-dark: #997113;
    --sys-button-bg: #6B4EFF;
    --sys-button-color: #fff;
    --sys-center-channel-bg: #fff;
    --sys-center-channel-color: #1a1a1a;
    --sys-dnd-indicator: #f74343;
    --sys-error-text: #d24b4e;
    --sys-link-color: #6B4EFF;
    --sys-mention-bg: #fff;
    --sys-mention-color: #6B4EFF;
    --sys-mention-highlight-bg: #E6E0FF;
    --sys-mention-highlight-link: #6B4EFF;
    --sys-new-message-separator: #6B4EFF;
    --sys-online-indicator: #06d6a0;
    --sys-sidebar-bg: #11121A;
    --sys-sidebar-header-bg: #0D0E14;
    --sys-sidebar-header-text-color: #fff;
    --sys-sidebar-text: #C6C8D1;
    --sys-sidebar-text-60: rgba(198, 200, 209, 0.6);
    --sys-sidebar-text-80: rgba(198, 200, 209, 0.8);
    --sys-sidebar-text-active-border: #6B4EFF;
    --sys-sidebar-text-active-color: #fff;
    --sys-sidebar-text-hover-bg: rgba(255, 255, 255, 0.08);
    --sys-sidebar-unread-text: #fff;
    --sys-denim-button-bg: #6B4EFF;
    --sys-denim-center-channel-text: #1a1a1a;

    // Cloned RGB values from base/css_variables, to be used as rgba(var(--sys-color), opacity_here) to apply opacity to base colors
    --sys-away-indicator-rgb: 255, 188, 31;
    --sys-away-indicator-dark-rgb: 153, 113, 19;
    --sys-button-bg-rgb: 107, 78, 255;
    --sys-button-color-rgb: 255, 255, 255;
    --sys-center-channel-bg-rgb: 255, 255, 255;
    --sys-center-channel-color-rgb: 26, 26, 26;
    --sys-dnd-indicator-rgb: 247, 67, 67;
    --sys-error-text-color-rgb: 210, 75, 78;
    --sys-link-color-rgb: 107, 78, 255;
    --sys-mention-bg-rgb: 255, 255, 255;
    --sys-mention-color-rgb: 107, 78, 255;
    --sys-mention-highlight-bg-rgb: 230, 224, 255;
    --sys-mention-highlight-link-rgb: 107, 78, 255;
    --sys-new-message-separator-rgb: 107, 78, 255;
    --sys-online-indicator-rgb: 6, 214, 160;
    --sys-sidebar-bg-rgb: 17, 18, 26;
    --sys-sidebar-header-bg-rgb: 13, 14, 20;
    --sys-sidebar-header-text-color-rgb: 255, 255, 255;
    --sys-sidebar-text-rgb: 198, 200, 209;
    --sys-sidebar-text-active-border-rgb: 107, 78, 255;
    --sys-sidebar-text-active-color-rgb: 255, 255, 255;
    --sys-sidebar-text-hover-bg-rgb: 255, 255, 255;
    --sys-sidebar-unread-text-rgb: 255, 255, 255;
    --sys-denim-button-bg-rgb: 107, 78, 255;
    --sys-denim-center-channel-text-rgb: 26, 26, 26;
}
