:root {
    // Default Hex values to be replaced by applyTheme()
    // these are define to prevent flashes of unstyled content
    --icon-opacity: 0.64;
    --icon-opacity-hover: 0.8;
    --away-indicator: #ffbc42;
    --away-indicator-dark: #c79e3f;
    --button-bg: #6B4EFF;
    --button-color: #fff;
    --center-channel-bg: #ffffff;
    --center-channel-color: #1a1a1a;
    --dnd-indicator: #d24b4e;
    --error-text: #d24b4e;
    --warning-text: #cc8f00;
    --link-color: #6B4EFF;
    --mention-bg: #6B4EFF;
    --mention-color: #FFFFFF;
    --mention-highlight-bg: #E6E0FF;
    --mention-highlight-link: #6B4EFF;
    --new-message-separator: #6B4EFF;
    --online-indicator: #06d6a0;
    --sidebar-bg: #11121A;
    --sidebar-header-bg: #0D0E14;
    --sidebar-header-text-color: #fff;
    --sidebar-text: #C6C8D1;
    --sidebar-text-active-border: #6B4EFF;
    --sidebar-text-active-color: #fff;
    --sidebar-text-hover-bg: rgba(255, 255, 255, 0.08);
    --sidebar-unread-text: #fff;
    --sidebar-team-background: #090A0F;
    --secondary-blue: #4A3DB3;
    --denim-button-bg: #6B4EFF;
    --title-color-indigo-500: #6B4EFF;

    // Default RGB values to be replaced by applyTheme() (do not add opacity mutations here)
    // these are define to prevent flashes of unstyled content
    --away-indicator-rgb: 255, 188, 66;
    --button-bg-rgb: 107, 78, 255;
    --button-color-rgb: 255, 255, 255;
    --center-channel-bg-rgb: 255, 255, 255;
    --center-channel-color-rgb: 26, 26, 26;
    --dnd-indicator-rgb: 247, 67, 67;
    --error-text-color-rgb: 253, 89, 96;
    --link-color-rgb: 107, 78, 255;
    --mention-bg-rgb: 107, 78, 255;
    --mention-color-rgb: 255, 255, 255;
    --mention-highlight-bg-rgb: 230, 224, 255;
    --mention-highlight-link-rgb: 107, 78, 255;
    --new-message-separator-rgb: 107, 78, 255;
    --online-indicator-rgb: 6, 214, 160;
    --sidebar-bg-rgb: 17, 18, 26;
    --sidebar-header-bg-rgb: 13, 14, 20;
    --sidebar-header-text-color-rgb: 255, 255, 255;
    --sidebar-text-rgb: 198, 200, 209;
    --sidebar-text-active-border-rgb: 107, 78, 255;
    --sidebar-text-active-color-rgb: 255, 255, 255;
    --sidebar-text-hover-bg-rgb: 255, 255, 255;
    --sidebar-unread-text-rgb: 255, 255, 255;
    --error-box-background: 197, 67, 72;
    --sidebar-team-background-rgb: 9, 10, 15;
    --secondary-blue-rgb: 74, 61, 179;
    --denim-button-bg-rgb: 107, 78, 255;
    --title-color-indigo-500-rgb: 107, 78, 255;

    // offline indicator color stays the same in all themes, that's why it is separated from the other variables
    // the color specified here is the new hard-coded color from the compass design system
    --offline-indicator: rgba(175, 179, 192, 0.75);

    // Elevation values used for box shadows.
    // Defined as CSS variables so that both sass and JS can use them.
    --elevation-1: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
    --elevation-2: 0 4px 6px 0 rgba(0, 0, 0, 0.12);
    --elevation-3: 0 6px 14px 0 rgba(0, 0, 0, 0.12);
    --elevation-4: 0 8px 24px 0 rgba(0, 0, 0, 0.12);
    --elevation-5: 0 12px 32px 0 rgba(0, 0, 0, 0.12);
    --elevation-6: 0 20px 32px 0 rgba(0, 0, 0, 0.12);

    // Corner Radius variables
    --radius-xs: 2px;
    --radius-s: 4px;
    --radius-m: 8px;
    --radius-l: 12px;
    --radius-xl: 16px;
    --radius-full: 50%;

    // Border variables
    --border-default: solid 1px rgba(var(--center-channel-color-rgb), 0.12);
    --border-light: solid 1px rgba(var(--center-channel-color-rgb), 0.08);
    --border-dark: solid 1px rgba(var(--center-channel-color-rgb), 0.16);

    // Global Header variables
    --global-header-background: var(--sidebar-teambar-bg);
    --global-header-text: var(--sidebar-header-text-color);
    --global-header-background-rgb: var(--sidebar-teambar-bg-rgb);
    --global-header-text-rgb: var(--sidebar-header-text-color-rgb);

    // semantic colors
    // not to be overwritten, since they are shared among themes
    --semantic-color-general: var(--center-channel-color-rgb);
    --semantic-color-info: 93, 137, 234;
    --semantic-color-success: 61, 184, 135;
    --semantic-color-warning: 245, 171, 0;
    --semantic-color-danger: 210, 75, 78;

    // Do not use these variables
    // use --center-channel-color instead
    --center-channel-text: var(--center-channel-color);
    // use --center-channel-color-rgb instead
    --center-channel-text-rgb: var(--center-channel-color-rgb);

    //Colors used in svgs but not themed
    --indigo-400: #28427B;
    --indigo-300: #32539A;
    --sand: #CCC4AE;
    --neutral-0: #FFFFFF;
    --neutral-900: #3F4350;
    --neutral-1200: #090A0B;
    --yellow-400: #FFBC1F;
}
